@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-bg: #5a1e76;
  --main-border-radius: 4%;
  --main-height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: var(--main-height);
  background-color: var(--main-bg);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  margin: auto;
}

@media (orientation: portrait) {
  .main {
    width: 100vw;
  }
}

@media (max-width: 1920px) and (orientation: landscape) {
  .main {
    width: 30vw;
    max-width: 512px;
  }
}

@media (min-width: 1921px) and (orientation: landscape) {
  .main {
    width: 24vw;
  }
}

.main-board {
  align-self: center;
  z-index: 2;
  background-color: black;
  flex: 0 0 70%;
  width: min(90%, 60vh);
  height: 60%;
  margin: auto 5%;
  border-radius: var(--main-border-radius);
}

.main-text {
  align-self: flex-start;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 0;
  font-family: "Fredoka One", cursive;
  line-height: 0.67;
  letter-spacing: 0.7px;
  align-items: flex-start;
  margin-bottom: 0.5%;
}

.main-text span {
  font-size: calc(0.3 * 100vh / 3);
  margin: 0 0 0 -7%;
}

.tic-toe {
  color: #dcbf3f;
  z-index: 0;
}

.tac {
  color: #72cff9;
  z-index: 2;
}
