@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.divBlur{
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(300px);
    -webkit-backdrop-filter: blur(300px);
    border-radius: var(--main-border-radius);
    transition: all 0.3s ease;
}

.divBlur:has(.newGameButton:hover){
    background-color:  rgba(0, 0, 0, 0.58);
}

.newGameButton {
    border: none;
    border-radius: 10%;
    background-color: #C5A0D7;
    height: 10%;
    width: 25%;
    font-family: "Fredoka One", cursive;
    font-size: 2vh;
    transition: all 0.3s ease;
}

.newGameButton:hover {
    background-color: #F4F6F5;
    transform: scale(1.1);
}