@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --square-bg: #43115B;
  --square-hover-bg: #5A1E76;
}

.square {
    background-color: var(--square-bg);
    border-radius: var(--main-border-radius);
    width: 100%;
    height: 100%;
    border: none;
    font-family: "Fredoka One", cursive;
    font-size: 6vh;
    transition: transform 0.3s ease;
}
.square:hover {
    background-color: var(--square-hover-bg);
}