.layoutBorder {
    position: absolute;
    background-color: #72CFF9;
    width: 100%;
    height: 20vh;
    transform: rotate(171deg);
  }
  
  .borderBottom {
    top: 97%;
    left: 11%
  }
  
  .borderTop {
    right: 11%;
    bottom: 97%;
  }