.mainGame {
    align-self: center;
    z-index: 2;
    background-color: #2B0040;
    flex: 0 0 70%;
    width: min(90%, 60vh);
    height: 60%;
    margin: auto 5%;
    border-radius: var(--main-border-radius);
  }

.score {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}